/*
	header color: #dceded
	border color: #4b4d4f
	hover/highligh: #4997e5
	static text: #a1c6c6
	input text: #84a8a8

	main background: #0c0f10;
	sub background: #191f21;
*/

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, #root, .App{
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background-color: Black;
	color: #a1c6c6;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

.App {
	align-items: start;
	background-color: #0c0f10;
	border-left: 1px solid #4b4d4f;
	border-right: 1px solid #4b4d4f;
	display: grid;
	height: auto;
	grid-column-gap: 1.5em;
	grid-row-gap: 0.5em;
	grid-auto-rows: minmax(5em, auto);
	grid-template-columns: repeat(auto-fit, minmax(240px, 480px));
	margin: 0 auto 0 auto;
	max-width: 1080px;
	min-height: 100%;
	padding: 0 1.5em 5em 1.5em;
}

.CheckboxInput label {
	cursor: pointer;
}

.CheckboxInput input[type="checkbox"] {
	appearance: none;
	align-items: center;
	background-color: #191f21;
	border: 1px solid #4b4d4f;
	cursor: pointer;
	display: flex;
	font-size: 1em;
	justify-content: center;
	height: 2em;
	margin: 0;
	padding: 1px;
	width: 2em;
}

.CheckboxInput input[type="checkbox"]:hover {
	border-color: #4997e5;
}

.CheckboxInput input[type="checkbox"]:checked {
	background-color: #4997e5;
}

.CheckboxInput input[type="checkbox"]::before {
	content: '✔';
	color: #dceded;
	font-weight: bold;
	visibility: hidden;
}

.CheckboxInput input[type="checkbox"]:checked::before {
	visibility: visible;
}

.ClearButton {
	align-self: center;
	background-color: #191f21;
	border: 1px solid #4b4d4f;
	color: #a1c6c6;
	font-size: 1em;
	height: 2em;
	justify-self: start;
	padding: 0 0.5em;
	width: 4em;
}

.ClearButton:hover {
	border-color: #4997e5;
	color: #4997e5;
}

.FileDrop {
	align-content: center;
	background-color: #191f21;
	border: 1px solid #4b4d4f;
	display: inline-grid;
	height: 4em;
	justify-content: center;
	position: relative;
	width: 15em;
}

.FileDropOverlay {
	align-content: center;
	border: 4px dashed #4997e5;
	background-color: #0c0f10;
	display: inline-grid;
	height: 100%;
	justify-content: center;
	opacity: 0.8;
	position: absolute;
	pointer-events: none;
	width: 100%;
  z-index: 999;
}

.FileDropOverlayText {
	color: #4997e5;
	font-size: 2em;
	line-height: 2em;
}

.Header {
	align-items: center;
	color: #dceded;
	display: grid;
	grid-column: 1 / -1;
	height: 10em;
	margin: 0;
	padding: 0;
}

.OutputBox {
	background-color: #191f21;
	border: 1px solid #4b4d4f;
	color: #84a8a8;
	display: inline-grid;
	font-size: 1em;
	grid-column: 1 / -1;
	justify-content: center;
	padding: 1em;
	width: 100%;
}

.ModularSelect {
	display: grid;
	grid-row-gap: 1em;	
}

.ModularSelect .ModularSelectRow{
	align-items: center;
	display: grid;
	grid-template-columns: 75% 1fr 1fr;
	grid-column-gap: 0.5em;
	justify-content: space-between;
	justify-items: end;
}

.ModularSelect input {
	background-color: #191f21;
	border: 1px solid #4b4d4f;
	color: #84a8a8;
	display: block;
	font-size: 1em;
	height: 2em;
	padding-left: 0.25em;
	width: 3em;
}

.ModularSelect .ModularSelectButton {
	background-color: #191f21;
	border: 1px solid #4b4d4f;
	color: #a1c6c6;
	font-size: 1em;
	font-weight: bold;
	height: 2em;
	padding: 0;
	width: 3em;
}

.ModularSelect .ModularSelectButton:hover {
	border-color: #4997e5;
	color: #4997e5;
}

.ModularSelect .GridCenter{
	justify-self: center;
}

.SearchButton {
	align-self: center;
	background-color: #191f21;
	border: 1px solid #4b4d4f;
	color: #a1c6c6;
	font-size: 1em;
	grid-column: 1 / -1;
	height: 3em;
	justify-self: center;
	padding: 0 0.5em;
	width: 6em;
}

.SearchButton:hover {
	border-color: #4997e5;
	color: #4997e5;
}

.SingleInput label {
	cursor: pointer;
}

.SingleInput input {
	background-color: #191f21;
	border: 1px solid #4b4d4f;
	color: #84a8a8;
	display: block;
	font-size: 1em;
	height: 2em;
	padding-left: 0.25em;
	width: 5em;
}